<div *ngIf="user">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Nom: </th>
                <td>{{user.name}}</td>
            </tr>
            <tr>
                <th scope="row">Société: </th>
                <td>{{user.company.name}}</td>
            </tr>
            <tr>
                <th scope="row">Website: </th>
                <td>{{user.website}}</td>
            </tr>
            <tr>
                <th scope="row">Tel: </th>
                <td>{{user.phone}}</td>
            </tr>
            <tr>
                <th scope="row">Mail: </th>
                <td>{{user.email}}</td>
            </tr>
            <tr>
                <th scope="row">Adresse: </th>
                <td>{{user.address.street}}<br>{{user.address.suite}}<br>{{user.address.zipcode}} {{user.address.city}}</td>
            </tr>
        </tbody>
    </table>
</div>
