<button [disabled]="show" class="btn btn-primary btn-lg" (click)='generateListUsers($event)'>Init liste</button>
<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            <a href="#" class="list-group-item list-group-item-action" *ngFor="let printUser of allUsers" (click)="showUser(printUser)">
                {{ printUser['name'] }}
            </a>
        </ul>
    </div>
    <div class="col-md-6">
        <app-show-user [user]="selectedUser"></app-show-user>
    </div>
</div>